In [ ]:
#########Import Dependencies##############
from config import db_password
import json
import pandas as pd
import numpy as np
import re
from sqlalchemy import create_engine
import time

In [ ]:
############ Import the JSON Wikipedia File #############
file_dir = 'C:/users/sljss/Desktop/movies-etl/'
file_dir

In [ ]:
f'{file_dir}wikipedia-movies.json'

In [ ]:
## Create a function to read in the  file and give it a name 
with open ('wikipedia-movies.json', mode='r') as file:
    wiki_movies_raw = json.load(file)

In [ ]:
len(wiki_movies_raw)

In [ ]:
# First 5 records
wiki_movies_raw[:5]

In [ ]:
# Last 5 records
wiki_movies_raw[-5:]

In [ ]:
# Some records in the middle
wiki_movies_raw[3600:3605]

In [ ]:
## Read CSV files
kaggle_metadata = pd.read_csv(f'{file_dir}movies_metadata.csv', low_memory=False)
ratings = pd.read_csv(f'{file_dir}ratings.csv')
# ratings.head(5)
# ratings.tail(5)
# kaggle_metadata.head(5)
# kaggle_metadata.tail(5)
# ratings.sample()
# ratings.sample(5)
# kaggle_metadata.sample(5)

In [ ]:
#### Turn the wiki_movies_raw dictonary into a Dataframe
wiki_movies_df = pd.DataFrame(wiki_movies_raw)
wiki_movies_df.head()

In [ ]:
##### Lots of Columns Cant see them all, convert the df columns to a list  #########
wiki_movies_df.columns.tolist()

In [ ]:
#### Use List Comprehension to filter the data - Save to an intermediate variable (wiki_movies) #############
wiki_movies = [movie for movie in wiki_movies_raw
               if ('Director' in movie or 'Directed by' in movie)
                   and 'imdb_link' in movie]
len(wiki_movies)

In [ ]:
####  Add the new list to a dataframe went from 193 columns to 78 #######
wiki_movies_df = pd.DataFrame(wiki_movies)
wiki_movies_df.columns.tolist()

In [ ]:
####### Filter out the no of episodes, they dont belong, using movies only #####
wiki_movies = [movie for movie in wiki_movies_raw
               if ('Director' in movie or 'Directed by' in movie)
                   and 'imdb_link' in movie
                   and 'No. of episodes' not in movie]
len(wiki_movies)

In [ ]:
###### Make a Function that performs the cleaning process ########
##### Four Basic Parts: Name, Parameters, Code Block, Return Value #############

In [ ]:
#### Write a simple function to make a copy of the movie and return it (preserved the original copy in case you mess up)
def clean_movie(movie):
    movie = dict(movie) #create a non-destructive copy
    
    return movie

In [ ]:
###### Take  a look at the Languages #####
wiki_movies_df[wiki_movies_df['Arabic'].notnull()]

In [ ]:
wiki_movies_df[wiki_movies_df['Arabic'].notnull()]['url']

# STEP ONE

In [ ]:
##### Make an Empty Dict to hold all of the alternative titles  Add to the function previously created #########
# def clean_movie(movie):
#     movie = dict(movie) #create a non-destructive copy
#     alt_titles = {}
#     return movie

# STEP TWO

In [ ]:
######### Loop through a list of all alternative title keys
# def clean_movie(movie):
#     movie = dict(movie) #create a non-destructive copy
#     alt_titles = {}
#     for key in ['Also known as','Arabic','Cantonese','Chinese','French',
#                 'Hangul','Hebrew','Hepburn','Japanese','Literally',
#                 'Mandarin','McCune–Reischauer','Original title','Polish',
#                 'Revised Romanization','Romanized','Russian',
#                 'Simplified','Traditional','Yiddish']:

#     return movie

# STEP 2a

In [ ]:
######### Check if the current key exists in the movie object
# def clean_movie(movie):
#     movie = dict(movie) #create a non-destructive copy
#     alt_titles = {}
#     for key in ['Also known as','Arabic','Cantonese','Chinese','French',
#                 'Hangul','Hebrew','Hepburn','Japanese','Literally',
#                 'Mandarin','McCune–Reischauer','Original title','Polish',
#                 'Revised Romanization','Romanized','Russian',
#                 'Simplified','Traditional','Yiddish']:
#         if key in movie:

#     return movie

# STEP 2b

In [ ]:
##### If so, remove the key-value pairs and add to the alternative titles dictionary
##### Hint: To remove a key-value pair from a dict in Python, use the pop() method.
# def clean_movie(movie):
#     movie = dict(movie) #create a non-destructive copy
#     alt_titles = {}
#     for key in ['Also known as','Arabic','Cantonese','Chinese','French',
#                 'Hangul','Hebrew','Hepburn','Japanese','Literally',
#                 'Mandarin','McCune–Reischauer','Original title','Polish',
#                 'Revised Romanization','Romanized','Russian',
#                 'Simplified','Traditional','Yiddish']:
#         if key in movie:
#             alt_titles[key] = movie[key]
#             movie.pop(key)


#     return movie

# STEP 3

In [ ]:
####  After looping through every key, add the alternative titles dict to the movie object
def clean_movie(movie):
    movie = dict(movie) #create a non-destructive copy
    alt_titles = {}
    for key in ['Also known as','Arabic','Cantonese','Chinese','French',
                'Hangul','Hebrew','Hepburn','Japanese','Literally',
                'Mandarin','McCune–Reischauer','Original title','Polish',
                'Revised Romanization','Romanized','Russian',
                'Simplified','Traditional','Yiddish']:
        if key in movie:
            alt_titles[key] = movie[key]
            movie.pop(key)
    if len(alt_titles) > 0:
        movie['alt_titles'] = alt_titles

    return movie

In [ ]:
##### Make a list of cleaned movies with list comprehension
clean_movies = [clean_movie(movie) for movie in wiki_movies]

In [ ]:
###### Set wiki_movies_df to be the datafreame created from clean_movies and print out columns
wiki_movies_df = pd.DataFrame(clean_movies)
sorted(wiki_movies_df.columns.tolist())

In [ ]:
def clean_movie(movie):
    movie = dict(movie) #create a non-destructive copy
    alt_titles = {}
     # combine alternate titles into one list
    for key in ['Also known as','Arabic','Cantonese','Chinese','French',
                'Hangul','Hebrew','Hepburn','Japanese','Literally',
                'Mandarin','McCune–Reischauer','Original title','Polish',
                'Revised Romanization','Romanized','Russian',
                'Simplified','Traditional','Yiddish']:
        if key in movie:
            alt_titles[key] = movie[key]
            movie.pop(key)
    if len(alt_titles) > 0:
        movie['alt_titles'] = alt_titles
        
    # merge column names
    def change_column_name(old_name, new_name):
        if old_name in movie:
            movie[new_name] = movie.pop(old_name)
                
    change_column_name('Adaptation by', 'Writer(s)')
    change_column_name('Country of origin', 'Country')
    change_column_name('Directed by', 'Director')
    change_column_name('Distributed by', 'Distributor')
    change_column_name('Edited by', 'Editor(s)')
    change_column_name('Length', 'Running time')
    change_column_name('Original release', 'Release date')
    change_column_name('Music by', 'Composer(s)')
    change_column_name('Produced by', 'Producer(s)')
    change_column_name('Producer', 'Producer(s)')
    change_column_name('Productioncompanies ', 'Production company(s)')
    change_column_name('Productioncompany ', 'Production company(s)')
    change_column_name('Released', 'Release Date')
    change_column_name('Release Date', 'Release date')
    change_column_name('Screen story by', 'Writer(s)')
    change_column_name('Screenplay by', 'Writer(s)')
    change_column_name('Story by', 'Writer(s)')
    change_column_name('Theme music composer', 'Composer(s)')
    change_column_name('Written by', 'Writer(s)')

    return movie

In [ ]:
###### Rerun our list comprehension to clean wiki_movies and recreate wiki_movies_df
clean_movies = [clean_movie(movie) for movie in wiki_movies]
wiki_movies_df = pd.DataFrame(clean_movies)
sorted(wiki_movies_df.columns.tolist())

In [ ]:
##### Remove Duplicate Rows (First extract the IMDb ID from the IMDb link)##############
## str.extract()
## "(tt\d{7})"
# "(tt\d{7})" — The parentheses marks say to look for one group of text.
# "(tt\d{7})" — The "tt" in the string simply says to match two lowercase Ts.
# "(tt\d{7})" — The "\d" says to match a numerical digit.
# "(tt\d{7})" — The "{7}" says to match the last thing (numerical digits) exactly seven times.
# drop_duplicates()
# use the subset argument and set inplace=True so that the operation is performed ont he selected dataframe
wiki_movies_df['imdb_id'] = wiki_movies_df['imdb_link'].str.extract(r'(tt\d{7})')
print(len(wiki_movies_df))
wiki_movies_df.drop_duplicates(subset='imdb_id', inplace=True)
print(len(wiki_movies_df))
wiki_movies_df.head()

In [ ]:
### Check for null values in the columns
### List Comprehension method
[[column,wiki_movies_df[column].isnull().sum()] for column in wiki_movies_df.columns]

In [ ]:
### Make a list of columns that hve less than 90% null values and use those to trim down our dataset
## Tweak our list comprehension code from 
##### [[column,wiki_movies_df[column].isnull().sum()] for column in wiki_movies_df.columns]
##### to [column for column in wiki_movies_df.columns if wiki_movies_df[column].isnull().sum() < len(wiki_movies_df) * 0.9]

wiki_columns_to_keep = [column for column in wiki_movies_df.columns if wiki_movies_df[column].isnull().sum() < len(wiki_movies_df) * 0.9]
wiki_movies_df = wiki_movies_df[wiki_columns_to_keep]
wiki_movies_df.columns.tolist()

# USE REGULAR EXPRESSIONS TO ENSURE YOU HAVE THE RIGHT DATATYPE

In [ ]:
###### Identify which columns need to be converted using df.dtypes
# Box office should be numeric.
# Budget should be numeric.
# Release date should be a date object.
# Running time should be numeric.
wiki_movies_df.dtypes

# Box Office Data

In [ ]:
### Fix the box office data (which should be numeric) to use for budget data since they are both numeric
### Drop the missing values using .dropna()
box_office = wiki_movies_df['Box office'].dropna()
### Check the values after dropna()  Evaluate the change from 7033 tp 5485
box_office

In [ ]:
#### Regular expressons work on only strings, make sure all the box office data is entered as a string. 
### Use the map() method we can see which values are not strings
### make is_not_a_string() a function
def is_not_a_string(x):
    return type(x) !=str
box_office[box_office.map(is_not_a_string)]

In [ ]:
#### Update our map() function to a lambda expression
box_office[box_office.map(lambda x: type(x) != str)]

In [ ]:
### Concatenate list items into one string
## make a separator string then call the join() method
### For example
some_list = ['One','Two','Three']
'Mississippi'.join(some_list)

In [ ]:
### Use a simple space as a separator string then call the join() method
box_office = box_office.apply(lambda x: ' '.join(x) if type(x) == list else x)
box_office

# Parse the box office Data

## Create the first form - 6 elements

### 1. A dollar sign
### 2. An arbitrary (but non-zero) number of digits
### 3. An optional decimal point
### 4. An arbitrary (but possibly zero) number of more digits
### 5. A space (maybe more than one)
### 6. The word "million" or "billion"

In [ ]:
# Step 1: Start with a dollar sign. Escape the dollar sign - '\$'

# Step 2: Add an arbitrary (but non-zero) number of digits. 
# Add the '\d' character to specify digits only and the '+' modifier to capture one or more digits - '\$\d+'

# Step 3: Add an optional decimal point. (Since its optional include the ?) - '\$\d+\.?'

# Step 4: Add an arbitrary (but possibly zero) number of more digits.
# Use the \d character to sepcify digits only, add a * modifier becasue there many be no digits after the decimal '\$\d+\.?\d*'

# Step 5: Add a space (maybe more than one).
# use \s to match whitespace, to be safe match any number of whitespace characters with * '\$\d+\.?\d*\s*'

# Step 6: Add the word "million" or "billion." Use Character set add [mb]illion - '\$\d+\.?\d*\s*[mb]illion'

In [ ]:
### Create a variable (form_one) and set it equal to the finished regular expression string with an 'r'
form_one = r'\$\d+\.?\d*\s*[mb]illion'

## Count up how many box office values match our first form - use str.contains() on box_office
## To ignore whether letters are uppercase of lowercase add an argument called flags and set it equal to re.IGNORECASE
## In case the data is not a string, add the na=False argument to parse the non-string stat to false
## Call the sum() method to count up the total number that return True

box_office.str.contains(form_one, flags=re.IGNORECASE, na=False).sum()

## Create the Second Form 3 Elements

### 1. A dollar sign
### 2. A group of one to three digits
### 3. At least one group starting with a comma and followed by exactly three digits

In [ ]:
# Step 1: Start with a dollar sign. Escape the dollar sign \$

# Step 2: Add a group of one to three digits. use \d with curly brackets to only match 1 through 3 repetitions '\$\d{1,3}'

# Step 3: Match at least one group starting with a comma and followed by exactly three digits. ',\d{3}'
# To match any repetition of that group, we'll put it inside parenthesis and add a '+' sign after the parenthesis '(,\d{3})+'
# Specify that this is a non capturing group by inserting a ? and : after the opening parenthesis '(?:,\d{3})+' (Not necessary)
#  Finished regular expression string '\$\d{1,3}(?:,\d{3})+'

In [ ]:
### Create a variable (form_two) and set it equal to the finished regular expression string with an 'r'
form_two = r'\$\d{1,3}(?:,\d{3})+'

### Count up the number of box office values that match this pattern
box_office.str.contains(form_two, flags=re.IGNORECASE, na=False).sum()

#  Compare Values in Forms

In [ ]:
#### See which values are not described by either form, to be safe check is any values are described by both

# Create 2 boolean series called matches_form_one and matches_form_two
matches_form_one = box_office.str.contains(form_one, flags=re.IGNORECASE, na=False)
matches_form_two = box_office.str.contains(form_two, flags=re.IGNORECASE, na=False)

# See which values in box_office don't match either form
# this will throw an error!  box_office[(not matches_form_one) and (not matches_form_two)]

# Instead, Pandas has element-wise logical operators:
# The element-wise negation operator is the tilde: ~ (similar to "not")
# The element-wise logical "and" is the ampersand: &
# The element-wise logical "or" is the pipe: |


# What we want to use
box_office[~matches_form_one & ~matches_form_two]

# Fix Pattern Matches

### Some values have spaces in between the dollar sign and the number.
### Some values use a period as a thousands separator, not a comma.
### Some values are given as a range.
### "Million" is sometimes misspelled as "millon.

In [ ]:
## 1. Some values have spaces in between the dollar sign and the number.add \s* after the dollar signs
#  New forms should like the following below
# form_one = r'\$\s*\d+\.?\d*\s*[mb]illion'
# form_two = r'\$\s*\d{1,3}(?:,\d{3})+'

## 2. Some values use a period as a thousands separator, not a comma.
# Change form_two to allow for either a comma or a period as a thousands separator
# form_two = r'\$\s*\d{1,3}(?:,\d{3})+'   changes to  r'\$\s*\d{1,3}(?:[,\.]\d{3})+'
# Add a negative lookahead group that looks ahead for million of billion after the number and rejects the match if found 
#  Dont forget the space!!!
# form_two = r'\$\s*\d{1,3}(?:[,\.]\d{3})+(?!\s[mb]illion)'

## 3. Some values are given as a range.
# Search for any string that starts with a $ and ends with a -, then replace it with a $ using replace()
# The 1st argument in the replace() method is the substring that will be replaced
# The 2nd argument in the replace() method is the string to replace it with
# We can use regular expressions in the 1st argument by sending the parameter 'regex=True'
# box_office = box_office.str.replace(r'\$.*[-—–](?![a-z])', '$', regex=True)

## 4. "Million" is sometimes misspelled as "millon."
##  Make the 2nd i optional in our match string with a question mark
# form_one = r'\$\s*\d+\.?\d*\s*[mb]illi?on'

# Extract and Convert the Box Office Values

In [ ]:
## Make a regular expression that matches either form_one or form_two (use an f string) :| means 'OR'
box_office.str.extract(f'({form_one}|{form_two})')

## Make a function to turn the extracted values into a numeric value. Call it parse_dollars 
## parse_dollars will take in a dtring and return a floating decimal point number.
###########################################################################################################
## Skeleton Function
###########################################################################################################
# def parse_dollars(s):
    # if s is not a string, return NaN

    # if input is of the form $###.# million

        # remove dollar sign and " million"

        # convert to float and multiply by a million

        # return value

    # if input is of the form $###.# billion

        # remove dollar sign and " billion"

        # convert to float and multiply by a billion

        # return value

    # if input is of the form $###,###,###

        # remove dollar sign and commas

        # convert to float

        # return value

    # otherwise, return NaN
###########################################################################################################
##  Use the re module to access the regular expression functions. 
## Use re.match(pattern, string) to see if our string matches a pattern    
# Split the million and billion matches from form_one
###########################################################################################################
# def parse_dollars(s):
#     # if s is not a string, return NaN
#     if type(s) != str:
#         return np.nan

#     # if input is of the form $###.# million
#     if re.match(r'\$\s*\d+\.?\d*\s*milli?on', s, flags=re.IGNORECASE):

#         # remove dollar sign and " million"

#         # convert to float and multiply by a million

#         # return value

#     # if input is of the form $###.# billion
#     elif re.match(r'\$\s*\d+\.?\d*\s*billi?on', s, flags=re.IGNORECASE):

#         # remove dollar sign and " billion"

#         # convert to float and multiply by a billion

#         # return value

#     # if input is of the form $###,###,###
#     elif re.match(r'\$\s*\d{1,3}(?:[,\.]\d{3})+(?!\s[mb]illion)', s, flags=re.IGNORECASE):

#         # remove dollar sign and commas

#         # convert to float

#         # return value

#     # otherwise, return NaN
#     else:
#         return np.nan
###########################################################################################################
###  Use re.sub(pattern, replacement_string, string) to remove dollar signs, spaces, commas, and letters
###########################################################################################################
# def parse_dollars(s):
#     # if s is not a string, return NaN
#     if type(s) != str:
#         return np.nan

#     # if input is of the form $###.# million
#     if re.match(r'\$\s*\d+\.?\d*\s*milli?on', s, flags=re.IGNORECASE):

#         # remove dollar sign and " million"
#         s = re.sub('\$|\s|[a-zA-Z]','', s)

#         # convert to float and multiply by a million

#         # return value

#     # if input is of the form $###.# billion
#     elif re.match(r'\$\s*\d+\.?\d*\s*billi?on', s, flags=re.IGNORECASE):

#         # remove dollar sign and " billion"
#         s = re.sub('\$|\s|[a-zA-Z]','', s)

#         # convert to float and multiply by a billion

#         # return value

#     # if input is of the form $###,###,###
#     elif re.match(r'\$\s*\d{1,3}(?:[,\.]\d{3})+(?!\s[mb]illion)', s, flags=re.IGNORECASE):

#         # remove dollar sign and commas
#         s = re.sub('\$|,','', s)

#         # convert to float

#         # return value

#     # otherwise, return NaN
#     else:
#         return np.nan
###########################################################################################################
## Conver all the strings to floats, multiply by the right amount and return the value
###########################################################################################################
def parse_dollars(s):
    # if s is not a string, return NaN
    if type(s) != str:
        return np.nan

    # if input is of the form $###.# million
    if re.match(r'\$\s*\d+\.?\d*\s*milli?on', s, flags=re.IGNORECASE):

        # remove dollar sign and " million"
        s = re.sub('\$|\s|[a-zA-Z]','', s)

        # convert to float and multiply by a million
        value = float(s) * 10**6

        # return value
        return value

    # if input is of the form $###.# billion
    elif re.match(r'\$\s*\d+\.?\d*\s*billi?on', s, flags=re.IGNORECASE):

        # remove dollar sign and " billion"
        s = re.sub('\$|\s|[a-zA-Z]','', s)

        # convert to float and multiply by a billion
        value = float(s) * 10**9

        # return value
        return value

    # if input is of the form $###,###,###
    elif re.match(r'\$\s*\d{1,3}(?:[,\.]\d{3})+(?!\s[mb]illion)', s, flags=re.IGNORECASE):

        # remove dollar sign and commas
        s = re.sub('\$|,','', s)

        # convert to float
        value = float(s)

        # return value
        return value

    # otherwise, return NaN
    else:
        return np.nan

In [ ]:
## Extract the values form box_office using str.extract
## Apply parse_dollars to find the 1st column in the dataframe returned by str.exract
wiki_movies_df['box_office'] = box_office.str.extract(f'({form_one}|{form_two})', flags=re.IGNORECASE)[0].apply(parse_dollars)
wiki_movies_df.head(5)

In [ ]:
#  We no longer need the box office column, so drop it
wiki_movies_df.drop('Box office', axis=1, inplace=True)

## Parse Budget Data

In [ ]:
# Create a budget variable
budget = wiki_movies_df['Budget'].dropna()

# Convert any lists to strings
budget = budget.map(lambda x: ' '.join(x) if type(x) == list else x)

# Remove any values between a dollar sign and a hyphen (for budgets in given ranges)
budget = budget.str.replace(r'\$.*[-—–](?![a-z])', '$', regex=True)

# Parse the data like you did for box_office data
matches_form_one = budget.str.contains(form_one, flags=re.IGNORECASE, na=False)
matches_form_two = budget.str.contains(form_two, flags=re.IGNORECASE, na=False)
budget[~matches_form_one & ~matches_form_two]

In [ ]:
##  Citations references are in the data (numbers in square brackets []) remove with a regular expression '\[\d+\]'
## Remove the citation references 
budget = budget.str.replace(r'\[\d+\]\s*', '')
budget[~matches_form_one & ~matches_form_two]

In [ ]:
## Pase the budget values - Copy the code we used to part the box office values changing box_office to budget
wiki_movies_df['budget'] = budget.str.extract(f'({form_one}|{form_two})', flags=re.IGNORECASE)[0].apply(parse_dollars)
## Drop the original budget column
wiki_movies_df.drop('Budget', axis=1, inplace=True)

# Parse the Release Date

In [ ]:
#  Make a variable that holds the non-null values of Release date in teh Dataframe, converting lists to strings
release_date = wiki_movies_df['Release date'].dropna().apply(lambda x: ' '.join(x) if type(x) == list else x)

In [ ]:
##  The forms we will parse (4)
# Full month name, one- to two-digit day, four-digit year (i.e., January 1, 2000)
# Four-digit year, two-digit month, two-digit day, with any separator (i.e., 2000-01-01)
# Full month name, four-digit year (i.e., January 2000)
# Four-digit year = r'\d{4}'

date_form_one = r'(?:January|February|March|April|May|June|July|August|September|October|November|December)\s[123]?\d,\s\d{4}'
date_form_two = r'\d{4}.[01]\d.[0123]\d'
date_form_three = r'(?:January|February|March|April|May|June|July|August|September|October|November|December)\s\d{4}'
date_form_four = r'\d{4}'

In [ ]:
## Extract the dates
release_date.str.extract(f'({date_form_one}|{date_form_two}|{date_form_three}|{date_form_four})', flags=re.IGNORECASE)

In [ ]:
## Use the built-in to_datetime() methods in Panda to parse the dates
## Since there are different date formats, set the infer_datetime_format option to True
wiki_movies_df['release_date'] = pd.to_datetime(release_date.str.extract(f'({date_form_one}|{date_form_two}|{date_form_three}|{date_form_four})')[0], infer_datetime_format=True)

# Parse Running Time

In [ ]:
## Make a variable that holds the non-null values of Release Date in the Dataframe, converting the lists to strings
running_time = wiki_movies_df['Running time'].dropna().apply(lambda x: ' '.join(x) if type(x) == list else x)
running_time.head

In [ ]:
##  Use String boundaries to find how many entries just look like 11 minutes
running_time.str.contains(r'^\d*\s*minutes$', flags=re.IGNORECASE, na=False).sum()

In [ ]:
##  What does the missing 366 entries look like
running_time[running_time.str.contains(r'^\d*\s*minutes$', flags=re.IGNORECASE, na=False) != True]

In [ ]:
## Make more general (drill down to abbreviations) Check list and ones left off
# only mark the beginning of the string and accepting abbreviations of minutes by only searching up to the letter m
running_time.str.contains(r'^\d*\s*m', flags=re.IGNORECASE, na=False).sum()

In [ ]:
#  The Ones left off
running_time[running_time.str.contains(r'^\d*\s*m', flags=re.IGNORECASE, na=False) != True]

In [ ]:
## New regular expressions that relaces the condition of patterns starting at the beginning of the string (remove the ^)
running_time.str.contains(r'\d*\s*m', flags=re.IGNORECASE, na=False).sum()

In [ ]:
## Whats left behind
running_time[running_time.str.contains(r'\d*\s*m', flags=re.IGNORECASE, na=False) != True]

In [ ]:
##  MAtch all of the hour + minute patterns with one regular expression pattern
# Start with one or more digits.
# Have an optional space after the digit and before the letter "h."
# Capture all the possible abbreviations of "hour(s)." To do this, we'll make every letter in "hours" optional except the "h."
# Have an optional space after the "hours" marker.
# Have an optional number of digits for minutes.
# Pattern = '\d+\s*ho?u?r?s?\s*\d*'

## Extract values - we only want digits
#  Add capture groups around the \d instances as well as add an alternating character
running_time_extract = running_time.str.extract(r'(\d+)\s*ho?u?r?s?\s*(\d*)|(\d+)\s*m')

# The new FD is all strings, convert them to numeric values using to_numeric() and set the erros argument to coerce
#  Coercing the errors will turn the empty strings into NAN, then we use fillna() to change them all to zeros
running_time_extract = running_time_extract.apply(lambda col: pd.to_numeric(col, errors='coerce')).fillna(0)

## Apply a function that converts the hour capture groups and minute capture groups to minutes if the pure minutes capture group is zero 
#  Save the output to wiki_movies_df
wiki_movies_df['running_time'] = running_time_extract.apply(lambda row: row[0]*60 + row[1] if row[2] == 0 else row[2], axis=1)

##  Drop Running Time from the dataset
wiki_movies_df.drop('Running time', axis=1, inplace=True)

# Clean the Kaggle data

In [ ]:
## Initial look at Movie Metadata
kaggle_metadata.dtypes

# Need the convert these groups
# popularity - numeric
# adult - Boolean
# Budget - numeric
# release_date - datetime
# video - Boolean
# ID - numeric

In [ ]:
### Check for T of F for boolean datatypes (adult) and video using value_counts()
kaggle_metadata['adult'].value_counts()

In [ ]:
## Remove the Bad data
kaggle_metadata[~kaggle_metadata['adult'].isin(['True','False'])]

##  The data is too far gone, nothing with imdb_id just going to drop the data
## In fact we dont want adult movies we will keep only rows where adult is False then dop the adult column

In [ ]:
##  Keeps the rows where the adult column is false and drops the adult column
kaggle_metadata = kaggle_metadata[kaggle_metadata['adult'] == 'False'].drop('adult',axis='columns')

In [ ]:
##  Look at the values of the video column
kaggle_metadata['video'].value_counts()

## Should only show true and false values

In [ ]:
## Convert the video
kaggle_metadata['video'] == 'True'
## Assign it back to video
kaggle_metadata['video'] = kaggle_metadata['video'] == 'True'

In [ ]:
## Convert the budget, id, and popularity to numeric using to_numeric()
## Make sure the errors= argument is set to 'raise' to know if theres any data that cant be converted to numbers
kaggle_metadata['budget'] = kaggle_metadata['budget'].astype(int)
kaggle_metadata['id'] = pd.to_numeric(kaggle_metadata['id'], errors='raise')
kaggle_metadata['popularity'] = pd.to_numeric(kaggle_metadata['popularity'], errors='raise')

In [ ]:
## Convert the release_date to datetime using Pandas to_datetime()
## Since release_date is in a standard format, to_datetime should convert easily
kaggle_metadata['release_date'] = pd.to_datetime(kaggle_metadata['release_date'])

In [ ]:
##  Look at the Ratings Data
## Use the info() method on the DF 
## Since the dataset has so many rows, we need to set the null_counts() option to True
ratings.info(null_counts=True)

In [ ]:
###  We wont be using the timestamp column
## We will be storing the rating data as its own table in SQL
## We will need to conver it to a datetime data type (# of seconds since midnight of January 1, 1970)
## Speciy in to_datetime() that the origin is unix and the time unit is seconds
pd.to_datetime(ratings['timestamp'], unit='s')

In [ ]:
## Assign it to the timestamp column
ratings['timestamp'] = pd.to_datetime(ratings['timestamp'], unit='s')

In [ ]:
##  Look at the actual statistics of the actual ratings and see if there are errors (use describe() method) and a histogram
pd.options.display.float_format = '{:20,.2f}'.format
ratings['rating'].plot(kind='hist')
ratings['rating'].describe()

In [ ]:
##  Merge by IMDB ID then check for redundant columns
##  Print out the list of columns = use the suffixes parameter to make it easier to identify which table each column came from
movies_df = pd.merge(wiki_movies_df, kaggle_metadata, on='imdb_id', suffixes=['_wiki','_kaggle'])
sorted(movies_df.columns.tolist())

In [ ]:
### Look at Competing Data and drop redundant columns

In [ ]:
# Competing data:
# Wiki                     Movielens                Resolution
#--------------------------------------------------------------------------
# title_wiki               title_kaggle
# running_time             runtime
# budget_wiki              budget_kaggle
# box_office               revenue
# release_date_wiki        release_date_kaggle
# Language                 original_language
# Production company(s)    production_companies

In [ ]:
### Compare the data between the titles
movies_df[['title_wiki','title_kaggle']]
## Pretty consistent

In [ ]:
## Look at rows where the titles dont match
movies_df[movies_df['title_wiki'] != movies_df['title_kaggle']][['title_wiki','title_kaggle']]

In [ ]:
## Confirm there arent any missing titles in the kaggle data
# Show any rows where title_kaggle is empty
movies_df[(movies_df['title_kaggle'] == '') | (movies_df['title_kaggle'].isnull())]
## No results returned, just drop the wikipedia titles column

In [ ]:
## Compare the data between running_time and runtime (use scatter plot)
## Scatter polots wont show null values, fill them in with zeros
movies_df.fillna(0).plot(x='running_time', y='runtime', kind='scatter')

## X axis us wiki and y axis is kaggle, there are more missing entries in the wikipedia data
## Keep Kaggle, fill in zeros with wiki data

In [ ]:
### Compare budget_wiki and budget_kaggle (scatter plot)
movies_df.fillna(0).plot(x='budget_wiki',y='budget_kaggle', kind='scatter')

## Keep Kaggle, fill in zeros with wiki data

In [ ]:
## Compare Box office to revenue (scatter plot)
movies_df.fillna(0).plot(x='box_office', y='revenue', kind='scatter')

## Might be thrown off by the scale of the large data point, look at evrything less than 1 billion in box_office

movies_df.fillna(0)[movies_df['box_office'] < 10**9].plot(x='box_office', y='revenue', kind='scatter')
## Keep Kaggle, fill in zeros with wiki data

In [ ]:
## Compare Release Date Data  Use the regular line plot using only dots
## add style="." to plot() method
movies_df[['release_date_wiki','release_date_kaggle']].plot(x='release_date_wiki', y='release_date_kaggle', style='.')

In [ ]:
## Investigate the outlier around 2006
movies_df[(movies_df['release_date_wiki'] > '1996-01-01') & (movies_df['release_date_kaggle'] < '1965-01-01')]
## Looks like some data merged, just drop the row

In [ ]:
## get the index
movies_df[(movies_df['release_date_wiki'] > '1996-01-01') & (movies_df['release_date_kaggle'] < '1965-01-01')].index
## Drop the row
movies_df = movies_df.drop(movies_df[(movies_df['release_date_wiki'] > '1996-01-01') & (movies_df['release_date_kaggle'] < '1965-01-01')].index)
## Check for null values
movies_df[movies_df['release_date_wiki'].isnull()]

## Wiki is missing release dates for 11 movies, Kaggle zero, drop wiki data

In [ ]:
### Compare the Language datasets (Wikipedia)
# movies_df['Language'].value_counts()
## Will throw an error becuase some of the language data points are stored as lists

In [ ]:
## Conver the lists in language to tuples so that the value_counts() method works (Wikipedia)
movies_df['Language'].apply(lambda x: tuple(x) if type(x) == list else x).value_counts(dropna=False)

In [ ]:
## Look at the values for Kaggle Language
movies_df['original_language'].value_counts()
## Keep Kaggle Drop Wiki

In [ ]:
## Production Companies
movies_df[['Production company(s)','production_companies']]
## Drop Wiki Keep Kaggle

# Put it all Together

In [ ]:
### Drop the following , title_wiki, release_date_wiki, Language, and Production company(s) columns.
movies_df.drop(columns=['title_wiki','release_date_wiki','Language','Production company(s)'], inplace=True)

In [ ]:
## Make a function that fills in missing data for a column pair and then drops the redundant column
def fill_missing_kaggle_data(df, kaggle_column, wiki_column):
    df[kaggle_column] = df.apply(
        lambda row: row[wiki_column] if row[kaggle_column] == 0 else row[kaggle_column]
        , axis=1)
    df.drop(columns=wiki_column, inplace=True)

    ## Run the function for the three column pairs that we decided to fill in the zeros

    fill_missing_kaggle_data(movies_df, 'runtime', 'running_time')
    fill_missing_kaggle_data(movies_df, 'budget_kaggle', 'budget_wiki')
    fill_missing_kaggle_data(movies_df, 'revenue', 'box_office')
    movies_df

    ##  Check for columns with only one value, covert lists to tuples for value_counts() to work
    for col in movies_df.columns:
        lists_to_tuples = lambda x: tuple(x) if type(x) == list else x
        value_counts = movies_df[col].apply(lists_to_tuples).value_counts(dropna=False)
        num_values = len(value_counts)
        if num_values == 1:
            print(col)
movies_df

In [ ]:
## Video has one value (False) drop the column
movies_df['video'].value_counts(dropna=False)

## Since its false for every row, we dont need to include this column

In [ ]:
## Reorder the columns
# Identifying information (IDs, titles, URLs, etc.)
# Quantitative facts (runtime, budget, revenue, etc.)
# Qualitative facts (genres, languages, country, etc.)
# Business data (production companies, distributors, etc.)
# People (producers, director, cast, writers, etc.)

movies_df = movies_df.loc[:, ['imdb_id','id','title_kaggle','original_title','tagline','belongs_to_collection','url','imdb_link',
                       'runtime','budget_kaggle','revenue','release_date_kaggle','popularity','vote_average','vote_count',
                       'genres','original_language','overview','spoken_languages','Country',
                       'production_companies','production_countries','Distributor',
                       'Producer(s)','Director','Starring','Cinematography','Editor(s)','Writer(s)','Composer(s)','Based on'
                      ]]

## Rename the columns
movies_df.rename({'id':'kaggle_id',
                  'title_kaggle':'title',
                  'url':'wikipedia_url',
                  'budget_kaggle':'budget',
                  'release_date_kaggle':'release_date',
                  'Country':'country',
                  'Distributor':'distributor',
                  'Producer(s)':'producers',
                  'Director':'director',
                  'Starring':'starring',
                  'Cinematography':'cinematography',
                  'Editor(s)':'editors',
                  'Writer(s)':'writers',
                  'Composer(s)':'composers',
                  'Based on':'based_on'
                 }, axis='columns', inplace=True)

# Transform and Merge Rating Data

In [ ]:
## Use Groupby on movieID and Rating columns. Take the count for each group.
## remane the USERID column to count
## pivot data so the movieId =index, the columns will be all the rating values and rows will the counts for each rating value

rating_counts = ratings.groupby(['movieId','rating'], as_index=False).count().rename({'userId':'count'}, axis=1).pivot(index='movieId',columns='rating', values='count')
                
## Rename the columns so they are easier to understand (prepend rating_ to each column with a list comprehension 
rating_counts.columns = ['rating_' + str(col) for col in rating_counts.columns]

## Perform a left merge
movies_with_ratings_df = pd.merge(movies_df, rating_counts, left_on='kaggle_id', right_index=True, how='left')

## Because not every movie got a rating, fill in missing values with zeros
movies_with_ratings_df[rating_counts.columns] = movies_with_ratings_df[rating_counts.columns].fillna(0)

In [ ]:
## The connection string for our local server
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/movie_data"
## Create the engine database
engine = create_engine(db_string)

# Import the Movie Data

In [ ]:
## To save the movies_df to a SQL table, only specify the name of the stable the engine in the to_sql() method
movies_df.to_sql(name='movies', con=engine)

# Import the Ratings Data

In [ ]:
# Do not run this yet!
for data in pd.read_csv(f'{file_dir}ratings.csv', chunksize=1000000):
    data.to_sql(name='ratings', con=engine, if_exists='append')

# Step 1: Print the number of imported rows

In [ ]:
########################################################################################## 
## Print Number of imported Rows (refactoring)
## Below is the previous block of code with comments added for refactoring
########################################################################################## 
# create a variable for the number of rows imported
# for data in pd.read_csv(f'{file_dir}ratings.csv', chunksize=1000000):

    # print out the range of rows that are being imported

    # data.to_sql(name='ratings', con=engine, if_exists='append')

    # increment the number of rows imported by the chunksize

    # print that the rows have finished importing
##########################################################################################    
# # create a variable for the number of rows imported - call the new variable rows_imported
########################################################################################## 
# rows_imported = 0
# for data in pd.read_csv(f'{file_dir}ratings.csv', chunksize=1000000):

#     # print out the range of rows that are being imported

#     data.to_sql(name='ratings', con=engine, if_exists='append')

#     # increment the number of rows imported by the size of 'data'

#     # print that the rows have finished importing 

########################################################################################## 
# print out the range of rows that are being imported
# Setting the end to an empty streing will prevent the output from going to the next line
########################################################################################## 
# create a variable for the number of rows imported
# rows_imported = 0
# for data in pd.read_csv(f'{file_dir}ratings.csv', chunksize=1000000):

#     # print out the range of rows that are being imported
#     print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')

#     data.to_sql(name='ratings', con=engine, if_exists='append')

#     # increment the number of rows imported by the size of 'data'

#     # print that the rows have finished importing

########################################################################################## 
############# increment the number of rows impoted by the size of data
########################################################################################## 
# use the compound operator += to add the lendth of the data read in to rows_imported
# create a variable for the number of rows imported

# rows_imported = 0
# for data in pd.read_csv(f'{file_dir}ratings.csv', chunksize=1000000):

#     # print out the range of rows that are being imported
#     print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')

#     data.to_sql(name='ratings', con=engine, if_exists='append')

#     # increment the number of rows imported by the size of 'data'
#     rows_imported += len(data)

#     # print that the rows have finished importing
########################################################################################## 
######################### Print that the rows have finished importing
##########################################################################################
# # create a variable for the number of rows imported
# rows_imported = 0
# for data in pd.read_csv(f'{file_dir}ratings.csv', chunksize=1000000):

#     # print out the range of rows that are being imported
#     print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')

#     data.to_sql(name='ratings', con=engine, if_exists='append')

#     # increment the number of rows imported by the size of 'data'
#     rows_imported += len(data)

#     # print that the rows have finished importing
#     print('Done.')
##########################################################################################    
# ###### Done Refactoring Delete Comments
# rows_imported = 0
# for data in pd.read_csv(f'{file_dir}ratings.csv', chunksize=1000000):

#     print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')
#     data.to_sql(name='ratings', con=engine, if_exists='append')
#     rows_imported += len(data)

#     print(f'Done.')

# Step 2: Print Elapsed Time

In [ ]:
####################################################################################################################
##  Add 2 new comments, one before the for loop and one inside the for loop, right before the last final print()
#  The first comment is to get the start time from time.time()
# The second comment is to add the elapsed time to the final printout
####################################################################################################################
# rows_imported = 0
# # get the start_time from time.time()
# for data in pd.read_csv(f'{file_dir}ratings.csv', chunksize=1000000):

#     print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')
#     data.to_sql(name='ratings', con=engine, if_exists='append')
#     rows_imported += len(data)

#     # add elapsed time to final print out
#     print(f'Done.')


####################################################################################################################
## Get the start_time from time.time()
####################################################################################################################
## The start_time = time.time() method will intitalize the start_time with the current time

# rows_imported = 0
# # get the start_time from time.time()
# start_time = time.time()
# for data in pd.read_csv(f'{file_dir}ratings.csv', chunksize=1000000):
#     print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')
#     data.to_sql(name='ratings', con=engine, if_exists='append')
#     rows_imported += len(data)

#     # add elapsed time to final print out
#     print(f'Done.')

######################################################################################################################
## The elapsed time is simply time.time() - start_time, which can be added directly into an f string
## Will take some time to load

rows_imported = 0
# get the start_time from time.time()
start_time = time.time()
for data in pd.read_csv(f'{file_dir}ratings.csv', chunksize=1000000):
    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')
    data.to_sql(name='ratings', con=engine, if_exists='append')
    rows_imported += len(data)

    # add elapsed time to final print out
    print(f'Done. {time.time() - start_time} total seconds elapsed')